<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/exam.css">
  <% include ./favicon.html %>

  <title><%= title %></title>
</head>

<body>

  <div class="wrap">
    <header class="header">
      <h1><%= title %></h1>
    </header>

    <main class="main">
      <div class="kemu-item">
        <ul class="item-header cl">
          <li class="title fl">科目一</li>
          <li class="desc fl">小车理论考试</li>
          <li class="fr">
            <a class="more" href="/mnks/kemu1/car-shanghai.html">更多</a>
          </li>
        </ul>
        <ul class="item-content cl">
          <li class="fl"><a class="item-order" href="/mnks/exercise/0-car-kemu1-shanghai.html">顺序练习</a></li>
          <li class="fl"><a class="item-chapter" href="/mnks/chapter/car-kemu1-shanghai.html">章节练习</a></li>
          <li class="fl"><a class="item-special" href="/mnks/strengthen/car-kemu1-shanghai.html">专项练习</a></li>
          <li class="fl"><a class="item-simulation" href="/mnks/exam/car-kemu1-shanghai.html">全真模拟</a></li>
        </ul>
      </div>


      <!-- 定义一组数组 -->
      <!-- <% data.forEach(item => { %>
      <h2><%= item.id%> . <%= item.question %></h2>
      <p>
        <span class="item" data-answer="A"></span>
        A. <%= item.typeone %>
      </p>

      <p>
        <span class="item" data-answer="B"></span>
        B. <%= item.typetwo %>
      </p>
      <p>
        <span class="item" data-answer="C"></span>
        C. <%= item.typethree %>
      </p>
      <p>
        <span class="item" data-answer="D"></span>
        D. <%= item.typefour %>
      </p>
      <% }) %> -->

    </main>



    <div class="page_box">
      <span class="prev">上一页</span>
      <span class="next">下一页</span>
    </div>
    <footer class="footer"></footer>

  </div>

  <script src="/javascripts/jquery.min.js"></script>
  <script>



    class ExamFn {

      constructor() {
        this.init()
      }

      init() {
        this.isSelectFn()
        this.nextFn()
      }

      isSelectFn() {
        let that = this;
        $('.item').on('click', function () {
          $('.item').removeClass('success');
          $(this).addClass('success');
          let itemAnswer = $(this).attr('data-answer');
          $('.next').attr('data-answer', itemAnswer)
        })
      }

      uploadAnswer(answer) {
        $.ajax({
          url: "http://localhost:8080/exam/answer_item",
          type: "post",
          data: {},
          success: function (res) {
            console.log(res, 'res')
          }
        })
      }

      nextFn() {
        let that = this;
        $('.next').on('click', function () {
          let item = $('.next').attr('data-answer')
          that.uploadAnswer(item)
        })
      }
    }

    let examfn = new ExamFn()


  </script>


</body>

</html>