@import './reset.scss';

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
color: #00B7FF;
}


.dialog{
  width: 100%;
  height: 100%;
  position: fixed;
  left:0;
  top:0;

  display: flex;
  justify-content: center;
  align-items: center;

  .mask {
    width: 100%;
    height: 100%;
    background: black;
    opacity: .6;
    position: absolute;
    left:0;
    top:0;
  }
  .tip {
    width: 80%;
    height: 77%;
    border-radius: 10px;
    background: #fff;
    z-index: 1;
    background: url('/images/wx-xifuer.jpeg') no-repeat;
    background-size: 100% 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    .tip_loading{
      // width: calc(.15rem * 2);
      // height: 20%;
      // border-radius: 10px;
      // background: rgb(230, 69, 41);
      // display: inline-block;
      // margin-left:5px;

      width: calc(.3rem *2);
      height: calc(.3rem *2);
      border-radius: 50%;
      background: #e67561;
    }
  }
}
.tip_loading {
  &:nth-child(1) {
    animation: loading1 1s ease-in 0s infinite alternate;
  }
  &:nth-child(2) {
    animation: loading2 1s ease-in 0s infinite alternate;
  }
  &:nth-child(3) {
    animation: loading3 1s linear 0s infinite alternate;
  }
  &:nth-child(4) {
    animation: loading1 .5s linear 0.4s infinite alternate;
  }
}

@keyframes loading1 {
  0% {
    transform: translate(10px)
  }
  100% {
    transform: translate(150px)
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0)
  }
  100% {
    transform: translate(0px)
  }
}
@keyframes loading3 {
  0% {
    transform: translate(-10px)
  }
  100% {
    transform: translate(-150px)
  }
}


.wrap {
  height: 100%;
  font-size: 14px;
  // background: url('/images/wx-xifuer.jpeg') no-repeat;
  // background-size: 100% 100%; 
}

.header{
  width: 100%;
  height: calc(.4rem *2);
  background: lightblue;
  text-align: center;
  line-height: calc(.4rem *2);
}


.file_box{
  margin:calc(.1rem *2) 0;
  width: calc(7.5rem - 0.4rem *2);
  height: calc(2rem *2);
  // border-bottom:1px solid #ccc;
  // border-top:1px solid #ccc;
  // border-left: 1px solid #ccc;
  // border-right: 1px solid #ccc;
  border: 1px dashed #ccc;
  position: relative;
  border-radius: 4px;

  .icon_span{
    display: block;
    width: calc(7.5rem - 0.4rem *2);
    height: calc(2rem *2);
    position: absolute;
    font-size: 75px;
    left: 0;
    top: 0;
    z-index: -1;
    text-align: center;
    line-height: calc(1.5rem *2);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    h3 {
      position: absolute;
      left: calc(.6rem *2);
      top: calc(.6rem *2);
      font-size: 14px;
    }
  }

  .inputDom {
    opacity: 0;
    border:none;
    border:1px solid #ccc;
    width: 100%;
    height: 100%;
  }
}