<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EJS模板</title>
  <style>
    h1 {
      text-align: center;
    }

    p {
      font-size: 20px;
    }

    span {
      font-size: 25px;
      color: red;
    }
  </style>
</head>

<body>
  <h1>EJS模板引擎</h1>
  <p>这是很简单的一个小流程就不在一一的标注流程了,注释的很清楚了</p>
  <% include ./test.html %>
  <!--这里显示js文件传过来的content值,可以死是json,接受服务器所传的东西,方便前段展示-->

  <% for(var i=0;i< msg.length;i++) { %>
    <p>这里是姓名: <span> <%= msg[i].name %> </span></p>
    <!--这里显示js文件传过来的name值:webarn-->
    <p>这里是性别: <span><%= msg[i].sex %> </span></p>
    <!-- 这里显示js文件传过来的sex值:'男' -->
    <p>这里是性别: <span><%= msg[i].content %> </span></p>
  <% } %>

</body>

</html>